/* 

    font-family: 'Fira Code', monospace;

    font-family: 'Roboto', sans-serif;

    font-family: 'Ubuntu', sans-serif;

    font-family: 'IBM Plex Sans', sans-serif;

 */

 .mnBd{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
ol{
    list-style-type: none;
}
.mission{
    margin-top: -20px;
}

a{
text-decoration: underline;
    color:black;
}
.mnLt, .mnRt{
    flex: 1 1 0px;
}

.mnFtr{
    text-align: center;
}
.SH5{
    font-size: .82rem;
}
ul, ol{
    text-align: left;
}
.mnSubSubHdr{
    margin-top: -15px;
}
.styleU{
    list-style-type: none;
    text-align: center;
}
.homep{
    text-align: left;
}
@media screen and (min-width: 768px) {
.mnBd{
    flex-direction: row;
}
.mnPage{
    margin-top: 15px;
}
.mnBdRt{
    margin-left: 1rem;
}

}
